/**
* Файл стилей для настройки шаблона.
* Регистрировать этот файл для подключения в шаблоне не нужно
*/

:root {
	--okay-button-color: #89cd35;
	--okay-button-text: #fff;
	--okay-button-color-hover: #89cd35;
	--okay-button-text-hover: #fff;
	--okay-basic-company: #89cd35;
	--okay-second-company: #a31299;
	--okay-basic-company-text: #fff;
	--okay-second-company-text: #fff;
	--okay-bg: #f9fae8;
	--okay-body-text: #222;
	--okay-body-heading: #222;
	--okay-boxed-color: #fff;
	--okay-boxed-text: #222;
	--okay-button-second-color: #222;
	--okay-button-second-text: #fff;
	--okay-shadow-color: 0 2px 5px rgba(0, 0, 0, .3);
	--okay-border-color: #dbdbdb;
}
